body {
    background-image: url("/media/doge-wallpaper-1920x10801.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

h1 {
    color: white;
    text-align: center;
}

p {
    color:black;
}

.dogbox {
    display: flex;
    background-color: aliceblue;
    height: 10vh;
    margin-top: 5rem;
    margin-right: 4rem;
    opacity: 60%;
}

.btnSassy {
    
    
}