body {
    background-image: url("/media/doge-wallpaper-1920x10801.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

h1 {
    color: white;
    text-align: center;
}

p {
    color:aliceblue;
}